@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: #1f4764;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#44dab7, #3a5dbc);
}

.formLogin {
    display: flex;
    flex-direction: column;
    background-color: white;
    font-family: emoji;
    border-radius: 7px;
    border: 3px solid;
    width: 454px;
    padding: 25px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 0px;
}

.areaLogin img {
    width: 420px;
}

.formLogin h1 {
    padding: 0px;
    margin: 0px;
    font-weight: 550;
    font-size: 2.3em;
    text-align: center;
}

.formLogin p {
    display: inline-block;
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
}

.formLogin input {
    padding: 16px;
    font-size: 14px;
    border: 2px solid #1f4764;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 7px;
    transition: all linear 160ms;
    outline: none;
}


.formLogin input:focus {
    border: 1px solid #1f4764;
}

.formLogin label {
    font-size: 14px;
    font-weight: 600;
}

.formLogin a {
    display: flex;
    margin-bottom: 12px;
    font-size: 13px;
    color: #1f4764;
    transition: all linear 160ms;
}

.formLogin a:hover {
    color: #19f911;
}

.btn {
    background-color: #1f4764;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 !important;
}

.btn:hover {
    transform: scale(1.05);
    background-color: #1f4764;

}
